.weather-placeholder { 
    display: flex; 
    align-items: center;
    width: 20%; 
    margin: 0 1rem;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #ffff; 
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}